/* 
    Document   : Synero
    Created on : Aug 23, 2014, 07:07:07 PM
    Author     : Harry
    Description: Synero - one page portfolio & Agency template
    Version    : V1.0
*/

/*-------------------------------------------------
 =  Table of Css

 1.Import Google Fonts
 2.Page-Loader
 3.GENERAL
 4.PARALLAX
 5.NAVBAR
 6.HOME/ SLIDER
 7.SERVICES
 8.PORTFOLIO / WORKS
 9.HERO-SECTION
 10.TESTIMONIALS
 11.ABOUT
 12.TWITTWER-TWEET
 13.PRICING
 14.NEWS-LETTER
 15.BLOG
 16.CONTACT
 17.FOOTER
 18.BACK-TO-TOP
-------------------------------------------------*/

/* ---------------------------------------------------------------------- */
/*  1.Import Google Fonts
/* ---------------------------------------------------------------------- */
@import url('http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700');
body { 
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%; 
    cursor:default;
    color: #333333;
    font-size: 14px;
    line-height: 24px;
    background-color: #fff;
    font-weight: 400;
    overflow-y: hidden !important;
}
html {
    width: 100%;
    height: 100%;
}
/* ---------------------------------------------------------------------- */
/*  2.Page-Loader
/* ---------------------------------------------------------------------- */
.animationload {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:999999; /* makes sure it stays on top */
}
.loader {
    width:200px;
    height:200px;
    font-size:0;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/ajax-loader.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}
/* ---------------------------------------------------------------------- */
/*  3.GENERAL
/* ---------------------------------------------------------------------- */
::selection{
    background: rgba(63,170,217,0.5);
    color: #ffffff;
}
::-moz-selection {
    background: rgba(63,170,217,0.5);
    color: #ffffff;
}
.btn-custom{
    background-color: #3faad9;
    border: 2px solid #3faad9;
    color: #ffffff;
    border-radius: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    letter-spacing: 1px;
    padding: 8px 20px;
}
.btn-custom:hover,.btn-custom:focus{
    background-color: transparent;
    border: 2px solid #3faad9;
    color: #3faad9;
    outline: none;
}
.btn-black{
    background-color: #333b4d;
    border: 2px solid #333b4d;
    color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    letter-spacing: 1px;
    padding: 8px 20px;
}
.btn-black:hover{
    background-color: transparent;
    border: 2px solid #333b4d;
}
.title {
    position: relative;
    color: #666;
    font-weight: 500;
}
.min-h-40{
    min-height: 40px;
}
.margin-t-20{
    margin-top: 20px;
}
.margin-t-50{
    margin-top: 50px;
}
.margin-l-30{
    margin-left: 30px;
}
.margin-b-30{
    margin-bottom: 30px;
}
.owl-theme .owl-controls .owl-page span {
    background: #3faad9 !important;
}
/* ---------------------------------------------------------------------- */
/*  4.PARALLAX
/* ---------------------------------------------------------------------- */
.parallax {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;

}
/* ---------------------------------------------------------------------- */
/*  5.NAVBAR
/* ---------------------------------------------------------------------- */
.navbar-inverse{
    border-radius: 0;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    outline: none;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #3faad9;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color:#3faad9;
    font-weight: 700;
    background-color: transparent;
}
.navbar-brand {
    margin-top: -6px;
}
@media(min-width:768px){
    .navbar-trans {
        background-color: rgba(0,0,0,0.4);
        padding: 12px 0;
        border-radius: 0;
        margin: 0;
    }
    .navbar-bg{
        background-color: rgba(34,34,34,0.95);
        padding: 8px 0;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
}
/*-------------------------------------------------------------------*/
/* 6.HOME/ SLIDER
/*-------------------------------------------------------------------*/
.carousel-section {
    background: url("../img/pattern.png"),url("../img/img.png");
    overflow: hidden;
    padding: 150px 0px 130px;
}
.carousel-razon .carousel-caption {
    position: static;
    text-align: center;
}
.carousel-razon .carousel-indicators {
    bottom: -130px !important;
}
.carousel-razon .carousel-indicators li {
    margin: 0 2px;
}
.carousel-indicators li{
    border: 1px solid #3faad9;
    border-radius: 0px;
    height: 5px;
    width: 30px;
}
.carousel-indicators .active {
    height: 5px;
    width: 30px;
    background-color: #3faad9;
}
.carousel-text span{
    color: #3faad9;
    text-transform: uppercase;
}
.carousel-text p{
    padding-top: 30px;
}
.carousel-text a{
    margin-top: 30px;
}
/*-------------------------------------------------------------------*/
/*  7.SERVICES
/*-------------------------------------------------------------------*/
.services{
    margin-top: 1px;
    border-top: 2px solid #3faad9;
    padding: 100px 0px;
    background-color: #f2f5f7;
}
.services h3{
    margin-top: 0px;
}
.service-item {
    margin-top: 20px;
    overflow:hidden;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
.minheight{
    min-height: 440px;
}
.service-item .thumbnail {
    position:relative;
    padding:0;
    margin:0;
    border:0;
    border-radius:0;
    box-shadow:none;
    background:0 0
}
.service-item figure {
    margin:0 0 32px;
}
.service-item figure img {
    width:100%;
}
.service-item .thumbnail .caption {
    padding:0;
    overflow:hidden;
}
.service-item .thumbnail .caption a {
    font-size: 14px;
    font-weight: 700;
    color:#2c3e50;
    text-transform:uppercase;
    -webkit-transition:all .25s;
    transition:all .25s
}
.service-item .thumbnail .caption a:hover {
    color:#3faad9;
    text-decoration: none;
}
.service-item .thumbnail .caption p {
    margin-top:12px;
}
/*-------------------------------------------------------------------*/
/*  8.PORTFOLIO / WORKS
/*-------------------------------------------------------------------*/
.work{
    padding: 100px 0px;
    margin-bottom: 1px;
    border-bottom: 2px solid #3faad9;
}
.work h3{
    margin-top: 0px;
}
#grid .mix{
    display: none;
    opacity: 0;
}
/* Filter */
.portfolio-filters{
    list-style: none;
    padding: 0;
}
.portfolio-filters li{
    border:1px solid #eeeeee;
    padding: 3px 10px;
    cursor: pointer;
    font-size: 12px ;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 700;
    color:#999;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
.portfolio-filters li:hover,.portfolio-filters li.active{
    background-color: #3faad9;
    color:#fff;
    border-color:#3faad9;
}
/* image hover effect */
.work_item {
    display:inline-block;
    vertical-align:top;
    background:#f7f7f7;
    width:100%;
    position:relative;
    overflow:hidden;
    opacity:1;
    transition:all 0.3s ease-out;
}        
.work_item:hover .work_item_overlay {
    opacity:0.8;
}
.work_item:hover img {
    -moz-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform: scale(1.1); 
}
.work_item:hover .work_item_button_holder {
    visibility:visible;
    opacity:1;
}
.work_item:hover .work_item_button_holder i {
    padding:10px;
}       
.work_item_overlay {
    background:rgba(0,0,0,0.8);
    width:100%;
    height:100%;
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    transition:opacity 0.2s ease-out;
}
.work_item img {
    width:100%;
    z-index:7;
    transition:all 0.2s ease-out;
}
.work_item_button_holder {
    visibility:hidden;
    width:100%;
    height:100%;
    margin-top:-28px;
    text-align:center;
    opacity:0;
    position:absolute;
    top:53%;
    left:0;
    z-index:9;
    transition:opacity 0.2s ease-out;
}
.work_item_button_holder i {
    display:inline-block;
    color:#3faad9;
    cursor:pointer;
    border-radius: 100%;
    background: rgba(255,255,255,0.5);
    text-align: center;
    padding: 11px 0 0;
    margin: 5px;
    font-size: 20px;
    transition:padding 0.2s ease-out;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.work_item_button_holder i:hover {
    font-weight: 900;
    background: #ffffff;
}
.work_item_button_holder i:active {
    color:#3faad9;
}
/*-------------------------------------------------------------------*/
/*  9.HERO-SECTION
/*-------------------------------------------------------------------*/
.hero-section {
    background-color: #3faad9;
    padding: 20px 0px;
    position: relative;
    z-index: 600;
    color: #fff;
    text-align: center;
}
.hero-section h3{
    margin-top: 10px;
}
.hero-section a{
    margin-top: 22px;
}
/*-------------------------------------------------------------------*/
/*  10.FUN-FACTS
/*-------------------------------------------------------------------*/
.fun-fact{
    background:url("../img/pattern.png"),url("../img/img.png");
    padding: 100px 0;
    text-align: center;
}
.fun-fact h5{
    margin-bottom: 0px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255,255,255,0.77);
    text-transform: uppercase;
}
.fun-fact i{
    color:#3faad9;
    font-size: 40px;
}
.fun-fact h1{
    color: #3faad9;
}
/*-------------------------------------------------------------------*/
/*  11.ABOUT
/*-------------------------------------------------------------------*/
.about{
    position: relative;
    padding: 100px 0px;
    margin: 1px 0px;
    border-top: 2px solid #3faad9;
    border-bottom: 2px solid #3faad9;
}
.about-us h2{
    color: #4c4c4c;
    text-transform: uppercase;
    margin-top: 0px;
}
.about-us h2 strong {
    height: 6px;
    width: 10%;
    background: #3faad9;
    position: relative;
    display: block;
    margin-top: 18px;
}
.about-us h2 strong span {
    position: absolute;
    top: 0;
    left: 0;
    width: 69px;
    height: 100%;
    background: #3faad9;
    display: inline-block;
}
.about-us a{
    margin-top: 20px;
}
.about-us p span {
    font-size: 24px;
    background: #3faad9;
    color: #fff;
    font-weight: 300;
    padding: 4px 8px;
    border-radius: 3px;
    float: left;
    display: block;
    line-height: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
/* TEAM */
.team{
    text-align: center;
    padding-top: 100px;
}
.team img{
    width: 180px;
    height: 180px;
}
.team-member:hover h4{
    color: #3faad9;
}
.team p{
    padding: 10px;
}
.team h6{
    color: #bbb;
}
.member {
    padding: 5px;
    width: 190px;
    height: 190px;
    border-bottom: 1px solid #bbb;
    background: #eee;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    overflow: hidden;
    display: inline-block;
}
.circle-img {
    border-radius: 100%;
    -moz-border-radius: 100%;
}
/*-------------------------------------------------------------------*/
/*  12.TESTIMONIALS
/*-------------------------------------------------------------------*/
.testimonials{
    background:url("../img/pattern.png"),url("../img/img.png");
    padding: 100px 0;
}
.testimonials h5{
    color:#fff;
    font-weight: 300;
    line-height: 20px;
    color: rgba(255,255,255,0.77);
}
.testimonials i{
    color:#3faad9;
    font-size: 30px;
}
.testimonials p{
    color:#3faad9;
}
/*-------------------------------------------------------------------*/
/*  13.PRICING
/*-------------------------------------------------------------------*/
.pricing{
    padding: 100px 0px;
    text-align: center;
    margin: 1px 0px;
    border-top: 2px solid #3faad9;
}
.pricing-features {
    background-color: #f2f5f7;
    padding: 0px 0px 40px 0px;
    margin-top: 30px;
}
.pricing-features ul{
    padding: 30px 0px;
}
.pricing-features li{
    padding: 10px 50px;
}
.pricing-features li i {
    margin-right: 15px;
    color: #999;
}
.pricing-features a{
    background-color: #333b4d;
    padding: 10px 50px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
}
.pricing-features a:hover{
    background-color: #3faad9;
    text-decoration: none;
}
.pricing_head{
    background-color: #333b4d;
    padding: 20px 0px;
    color: #fff;
}
.pricing_head .pricing_currency{
    position: relative;
    top: -25px;
    font-size: 20px;
    font-weight: 400;
}
.pricing_head .pricing_amount-2{
    font-size: 60px;
    line-height: 60px;
    padding-left: 5px;
}
.pricing-features:hover .pricing_head,.pricing-features:hover a{
    background-color: rgba(63,170,217,0.8);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
/*-------------------------------------------------------------------*/
/*  14.NEWS-LETTER
/*-------------------------------------------------------------------*/
.newsletter{
    background-color: #3faad9;
    padding: 40px 0px;
}
.newsletter i{
    padding-right: 15px;
}
.newsletter h3{
    color: #ffffff;
    margin: 0px;
    padding-top: 5px;
}
.news-form input{
    height: 40px;
    border: 1px solid #666;
    background-color: rgba(255,255,255,0.7);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.news-form input:focus{
    outline: none;
    border: 1px solid #333b4d;
    box-shadow: none;
    background-color: #ffffff;
}
.news-form button,.news-form button:focus{
    height: 40px;
    background-color: #333b4d;
    border-color: #333b4d;
    color: #ffffff;
    outline: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
.news-form button:hover{
    color: #000;
    background-color: transparent;
    border: 1px solid #000000;
}
/*-------------------------------------------------------------------*/
/*  15.BLOG / BLOG-POST
/*-------------------------------------------------------------------*/
.blog{
    background: url("../img/pattern.png"),url("../img/img.png");
    padding: 100px 0;
}
.blog h3,.blog p{
    color: #ffffff;
}
.blog-box{
    background-color: #ffffff;
    padding: 10px; 
    text-align: center;
    margin-top: 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.blog-box img{
    width: 100%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.blog-box h4 a{
    color: #666;
}
.blog-box h6{
    color: #bbb;
    font-weight: 300;
}
.blog-box p{
    color: #777;
    margin-top: 20px;
}
/* BLOG-POST */
.blog-post{
    padding: 100px 0px;
    margin: 1px 0px;
    border-top: 2px solid #3faad9;
    border-bottom: 2px solid #3faad9;
}
.blog-post img{
    margin: 15px 0px;
}
.blog-header{
    background: url("../img/pattern.png"),url("../img/img.png");
    padding: 170px 0px 100px 0px;
}
.blog-header h2{
    margin-top: 0px;
    color: #ffffff; 
}
.blog-header h5{
    color: #ffffff;
    margin-top: 30px;
    font-weight: 100;
}
.blog-detail{
    padding-top: 0px;
    color: #ffffff;
    font-size: 14px;
}
.blog-detail span{
    margin-right: 20px;
}
.blog-detail span:last-of-type{
    margin-right: 0px;
}
.blog-a{
    color: #3faad9;
}
.blog-post-p{
    color: #bbb;
    font-size: 12px;
    padding: 0px 20px;
    line-height: 15px;
    text-align: center;
}
.blog-a:hover{
    color: rgba(63,170,217,0.7);
    text-decoration: none;
}
.blog-detail span i{
    padding-right: 5px;
}
.blog-post .tags a {
    height: 35px;
    font-size: 11px;
    line-height: 35px;
    color: #90979f;
    background: #f2f5f7;
    padding: 6px 12px;
    margin-right: 5px;
}
.blog-post .tags a:hover{
    color: #3faad9;
    text-decoration: none;
}
/*-------------------------------------------------------------------*/
/*  16.CONTACT
/*-------------------------------------------------------------------*/
.contact{
    text-align: center;
    padding: 100px 0px;
    margin: 1px 0px;
    border-top: 2px solid #3faad9;
    border-bottom: 2px solid #3faad9;
}
.contact h4{
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
    color: #3faad9;
}
.contact i{
    margin-bottom: 0px;
    font-size: 36px;
    line-height: 36px;
    color: #3faad9;
}
.contact ul {
    margin: 0;
    padding: 0;
}
.contact li a{
    text-decoration: none;
    color: #7a869e;
}
a.support {
    font-size: 28px;
    line-height: 30px;
    display: block;
    color: #7a869e;
    text-decoration: none;
}
.contact input {
    width: 100%;
    height: 43px;
    margin-bottom: 20px;
    line-height: 20px;
    padding-left: 15px;
    font-size: 15px;
    color: #000000;
}
.contact .validation {
    border: 1px solid #ff0000;
}
.contact textarea {
     width: 100%;
    height: 170px;
    margin-bottom: 15px;
    padding: 15px 55px 15px 15px;
    font-size: 15px;
    color: #000000;
    line-height: 28px;
}
textarea {
    resize: none;
}
.contact input:focus,.contact textarea:focus,.contact input:active,.contact textarea:active{
    border: 1px solid #3faad9;
    outline: none;
}
.contact p {
    float: none;
    color: #ffffff;
    display: inline-block;
}
#successmsg1 {
    margin-top: 20px;
    font-size: 18px;
    color: #3faad9;
    padding: 10px 0 10px;
    text-transform: uppercase;
    display: none;
    text-align: center;
}
/*-------------------------------------------------------------------*/
/*  17.FOOTER
/*-------------------------------------------------------------------*/
.footer{
    background-color: #000;
    padding: 50px 0px;
}
.footer ul{
    margin-bottom: 0px;
    margin-top: 8px;
}
.social li{
    padding-right: 0px;
}
.social li a {
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 3px;
    color: rgba(255,255,255,0.5);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.social li a:hover {
    text-decoration: none;
    color: #3faad9;
}
.footer p{
    color: #666;
    font-size: 12px;
    padding-top: 10px;
    margin-bottom: 0px;
}
/*-------------------------------------------------------------------*/
/*  18.BACK-TO-TOP
/*-------------------------------------------------------------------*/
.back-to-top {
    width: 40px;
    height: 50px;
    position: fixed;
    bottom: 0px;
    right: 20px;
    display: none;
    background: rgba(63,170,217,0.7);
    text-align: center;
    z-index: 10000;
}
.back-to-top i {
    color: #fff;
    font-size: 15px;
    display: block;
    line-height: 33px;
}
.back-to-top:hover {
   background: rgba(63,170,217,0.9);
}